body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.__main-product-tabs {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 50px;
  justify-content: center;
  align-items: center;
}

.__main-product-tabs-content-div {
  position: relative;
}

.__main-product-tabs-title-div {
  text-align: center;
  width: 95%;
  position: relative;
  background: padding-box,
    repeating-linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6) 0px 0px,
        transparent 3px 5px
      )
      right center/100% 1px border-box;
  background-repeat: no-repeat;
}

.__main-product-tabs-section {
  width: 100%;
}

.__main-product-tabs-title-div h2 {
  letter-spacing: 2px;
  font-size: 24px;
}
.__main-product-tabs-title-div p {
  font-size: 14px;
  transform: skewX(-5deg);
  line-height: 24px;
}

.__main-product-tabs-section ul {
  list-style: none;
  text-align: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 40px 0 40px 0;
  padding: 0;
}

.__main-product-tabs-section ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: #8f8f8f;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.5px;
  padding: 15px 25px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.__main-product-tabs-content-child {
  display: none;
  text-align: center;
}

.__main-product-tabs-button.active-tab a {
  font-weight: 700;
  color: #000;
  border: 1px solid #eb7227b0;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.__main-product-tabs-content-child.active-tab {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* swiperjs styles  */

.swiper-home-tab-style {
  width: calc(100% - 50px);
  height: 100%;
  overflow: hidden;
}

.swiper-home-tab-style .swiper-slide {
  background-color: aqua;
  border-radius: 15px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tab-slider-btn-style-prev,
.tab-slider-btn-style-next {
  background-color: #eb7227;
  border-radius: 100%;
  width: 40px !important;
  height: 40px !important;
  border: none;
  color: #fff !important;
}
.tab-slider-btn-style-prev {
  left: -25px !important;
}
.tab-slider-btn-style-next {
  right: -25px !important;
}

.tab-slider-btn-style-prev::after {
  font-size: 20px !important;
  content: "" !important;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAABmJLR0QA/wD/AP+gvaeTAAABsElEQVR4nO3dv0rCYRjF8fM2RENLV1Jre0hQEd1P0NrtRJtEa2sXE1TT02AKaqJU/s7B9/sZnR7O1z84iBIAAMAmquq8qm7dd3SpqkZV9V4T9+57urIwfhFhQCvGJ8IQ1oxPhG36/sBdN/4UH8z/acNn/tRnVV26b94ZjG/E+EaMb8T4RoxvxPhGjG/E+EaMb8T4RoxvxPhGjG/E+EaMb8T4RoxvxPhGjG/E+EaMb8T4RoxvxPhGjG/E+EaMb8T4RoxvxPhGjG/E+MNoPz1YVSNJD5IOhj2nP0sBqupM0qMYfxBzAarqVNJY0qHnnP7MAlTViaRnSUe+c/qz5z6gd7MArbVXSReS3nzn9GfuFdBae5F0I+nDc05/lt6CWmtPkq5FBK9ffBG7ct+8c4gQgAgBiBCACAGIEIAIAYgQgAgBiBCACAGIEIAIAYgQgAgBiBCACAGIEIAIAYgQgAgBiBCACAGIEIAIAYgQgAgBiBCACAGIEIAIAYgQoJcIsT/Sa62NtfnPpfYlHW/3ok5t+Eq4c9+509ZEYPwhrIjA+ENaiMD4DjX5j2H+OxgAAPzNF+8qI8Ke1ajRAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  color: #fff;
}

.tab-slider-btn-style-next::after {
  font-size: 20px !important;
  content: "" !important;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAX0lEQVRIie2VwQmAQAwEo0WoWI39nOUKp9WMj8vj3pKFQzIFzEDyWLPRAAqwqeQnjSqJAAtweeQB9oxk5AeRCSC81qhmdswieTzA2p3oDv1DylM+iNwD2sn0iG70v/ACbfdLjJ4cLaEAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  color: #fff;
}

.__main-product-tab-title-best-seller {
  background-color: white;
  width: fit-content;
  text-align: center;
  margin: auto;
  padding: 0 30px;
}

/* styling for mobile  */

@media (min-width: 768px) and (max-width: 979px) {
  .__main-product-tabs-section ul a {
    padding: 15px;
  }
}

@media (max-width: 760px) {
  .__main-product-tabs {
    padding: 10px;
  }

  .swiper-home-tab-style {
    width: calc(100% - 10px);
  }

  .__main-product-tabs-section ul {
    margin: 5px 0 20px 0;
    padding-bottom: 15px;
    justify-content: flex-start;
    height: 40px;
    overflow-x: scroll;
    gap: 15px;
  }

  .__main-product-tabs-section ul a {
    padding: 8px 15px;
    font-size: 12px;
    letter-spacing: 0.5px;
  }

  .tab-slider-btn-style-prev {
    left: -10px !important;
  }
  .tab-slider-btn-style-next {
    right: -10px !important;
  }

  .__main-product-tab-title-best-seller {
    padding: 0;
  }
  .swiper-home-tab-style .swiper-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
  }
}
